body {
    padding-top: 64px;
}

.dashanl__table {
    font-family: 'Inter', sans-serif;
}
.dashanl__head {
    border-bottom: 1px solid #EBEBEB;
}
.dashanl__head tr th {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 16px;
    padding-right: 20px;
    vertical-align: top;
}
.dashanl__head tr th:last-of-type {
    padding-right: 0;
}
.dashanl__body tr + tr {
    border-bottom: 1px solid #EBEBEB;
}
.dashanl__body tr td {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #262626;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 20px;
    vertical-align: top;
}
.dashanl__body tr td:last-of-type {
    padding-right: 0;
}

.dashanl__agency {
    display: flex;
}
.agency-dashanl__logo {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 12px;
}
.agency-dashanl__logo img {
    display: block;
    width: 100%;
    height: 100%;
}
.agency-dashanl__logo.noLogo {
    background: rgba(0, 0, 0, 0.08);
}
.agency-dashanl__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #333333;
    transition: color .35s;
}
.agency-dashanl__link:hover {
    color: #5947B3;
}
.agency-dashanl__online {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #A6A5AD;
}

.dashanl__fid {

}
.fid-dashanl__date {
    display: block;
}

.dashanl__lots {
    position: relative;
    white-space: nowrap;
}
.lots-dashanl__total {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #262626;
    display: flex;
    align-items: center;
}
.lots-dashanl__total .icon {
    display: block;
    width: 12px;
    height: 16px;
    -webkit-mask: url('../image/text-arrow-down.svg') center / cover no-repeat;
            mask: url('../image/text-arrow-down.svg') center / cover no-repeat;
    background-color: #7C7A87;
    margin-left: 6px;
}
.dashanl__lots:hover .lots-dashanl__popup {
    opacity: 1;
    pointer-events: all;
    user-select: auto;
}
.lots-dashanl__popup {
    position: absolute;
    top: -12px;
    left: -16px;
    padding: 12px 16px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(37, 36, 41, 0.04), 0px 2px 8px rgba(37, 36, 41, 0.12);
    border-radius: 8px;
    opacity: 0;
    user-select: none;
    pointer-events: none;
    transition: opacity .35s;
}
.lots-dashanl__list {
    margin-top: 4px;
}
.lots-dashanl__item {
    display: flex;
    align-items: center;
}
.lots-dashanl__item + .lots-dashanl__item {
    margin-top: 4px;
}
.lots-dashanl__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #7C7A87;
    flex-basis: 85px;
}
.lots-dashanl__amount {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #262626;
    margin-left: 8px;
}

.dashanl__brokers {
    display: flex;
}
.brokers-dashanl__item + .brokers-dashanl__item {
    margin-left: 12px;
}
.brokers-dashanl__total {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #262626;
}
.brokers-dashanl__total.orange {
    color: #F0733C !important;
}
.brokers-dashanl__total.purple {
    color: #BD58C8 !important;
}
.brokers-dashanl__text {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #262626;
}

.dashanl__status {
    max-width: 95px;
}

.dashanl__controls {
    display: flex;
}

.dashanl__info {
    position: relative;
    white-space: nowrap;
}
.info-dashanl__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #F8F7FA;
    border-radius: 8px;
}
.info-dashanl__icon .icon {
    display: block;
    width: 16px;
    height: 16px;
    -webkit-mask: url('../image/link.svg') center / cover no-repeat;
            mask: url('../image/link.svg') center / cover no-repeat;
    background-color: #7C7A87;
}
.dashanl__info:hover .info-dashanl__popup {
    opacity: 1;
    pointer-events: all;
    user-select: auto;
}
.info-dashanl__popup {
    position: absolute;
    top: -12px;
    right: -16px;
    padding: 12px 16px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(37, 36, 41, 0.04), 0px 2px 8px rgba(37, 36, 41, 0.12);
    border-radius: 8px;
    opacity: 0;
    user-select: none;
    pointer-events: none;
    transition: opacity .35s;
}
.info-dashanl__total {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #262626;
}
.info-dashanl__list {
    margin-top: 4px;
}
.info-dashanl__item {
    display: flex;
    align-items: center;
}
.info-dashanl__item + .info-dashanl__item {
    margin-top: 4px;
}
.info-dashanl__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #7C7A87;
    flex-basis: 85px;
}
.info-dashanl__amount {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #262626;
    margin-left: 8px;
}

.dashanl__edit {
    margin-left: 8px;
}
.edit-dashanl__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #F8F7FA;
    border-radius: 8px;
    transition: background .35s;
    cursor: pointer;
}
.edit-dashanl__icon .icon {
    display: block;
    width: 16px;
    height: 16px;
    -webkit-mask: url('../image/kebab-horizontal.svg') center / cover no-repeat;
            mask: url('../image/kebab-horizontal.svg') center / cover no-repeat;
    background-color: #7C7A87;
    transition: background .35s;
}
.edit-dashanl__icon:hover {
    background: #5947B3;
}
.edit-dashanl__icon:hover .icon {
    background: #FFFFFF;
}